# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Testing
/coverage
**/coverage/

# Next.js (Frontend Build)
/frontend/.next/
/frontend/out/
/frontend/build/
frontend/next-env.d.ts

# Sanity (Backend Build)
/backend/dist/
/backend/.next/
.sanity/

# Production
/build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*
!.env.example

# Vercel Deployment
.vercel
/frontend/.vercel/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Package Manager Configs
.npmrc # Optional: can contain auth tokens depending on your setup